midi_output_dir: '/Users/ryorod/MR.VAE-MusicVAE/server/sample_midi_data'
osc:
  send_address: localhost
  receive_address: 192.168.11.101
  send_port: 7878
  receive_port: 5656
model_path_vae: '/Users/ryorod/MR.VAE-MusicVAE/server/model_file/drums.tar'
